
<div class="search">
<%= form_tag '/search' do %>
  <%= label_tag :zipcode %>:
  <p><%= text_field_tag :zipcode %></p>
  <%= submit_tag "Search!" %>
<% end %>

  <% if @error %>
    <p><%= @error %></p>
  <% elsif @venues %>
    <ul>
    <% @venues.each do |venue| %>
      <p>
        <%= venue["name"] %><br>
        <%= venue["location"]["address"] %><br>
        <%= venue["contact"]["formattedPhone"] %><br>
        <%= venue["stats"]["checkinsCount"] %> people have checked in here<br>
        - - - - - - - - - - - - - - - 
      </p>
    <% end %>
    </ul>
  <% end %>
</div>


